main {
    background-color: #F5F5F5;
    height: fit-content;         
    width: 100%;           
    max-width: 900px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    margin: 0px auto;
}

.dice-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    max-width: 579px;
    gap: 20px;
    width: 100%;
    height:fit-content;
    align-content: center;
    justify-items: center;
    margin: 0px auto;

}

.dice-container button {
    aspect-ratio: 1 / 1;
    width: 100%;
    max-width: 80px;
     box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: none;
    background-color: white;
    font-size: 1.75rem;
    font-weight: bold;
    cursor: pointer;
    
}
.roll-dice {
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 6px;
    background-color: #5035FF;
    color: white;
    font-size: 1.4rem;
    /* margin-top: 2em; */
  
}
button 
{
     transition: transform 0.15s ease-in-out;
}
button:active {
    transform: scale(0.9);
}
.title {
    font-size: 40px;
    margin: 0;
}

.instructions {
   
    font-weight: 400;
    margin-top: 0;
    text-align: center;
    margin-bottom: 12px;
}

